bleach==1.5.0
certifi==2017.11.5
chardet==3.0.4
click==6.7
coverage==4.5.1
cycler==0.10.0
Django==2.0
enum34==1.1.6
eventlet==0.22.1
flake8==3.5.0
Flask==0.10.1
Flask-SocketIO==2.9.4
future==0.16.0
greenlet==0.4.2
html5lib==0.9999999
idna==2.6
imageio==2.2.0
itsdangerous==0.24
Jinja2==2.7.2
Markdown==2.6.11
MarkupSafe==0.23
matplotlib==2.1.2
mccabe==0.6.1
nose2==0.7.4
numpy==1.14.0
opencv-python==3.4.0.12
pandas==0.22.0
Pillow==5.0.0
pipenv==2018.5.18
protobuf==3.5.1
pycodestyle==2.3.1
pyflakes==1.6.0
pyparsing==2.2.0
python-dateutil==2.6.1
python-engineio==2.0.2
python-socketio==1.8.4
pytz==2017.3
requests==2.18.4
scipy==1.0.0
six==1.11.0
tensorflow==1.4.1
tensorflow-tensorboard==0.4.0rc3
urllib3==1.22
virtualenv==16.0.0
virtualenv-clone==0.3.0
websocket-client==0.47.0
Werkzeug==0.9.4
